html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@font-face {
    font-family: 'theFont';
    src: url(/assets/primula-HummingStd-E-2.woff2) format("woff2");
}

@font-face {
    font-family: 'theFont';
    src: url(/assets/primula-HummingStd-E-1.woff2) format("woff2");
}

@font-face {
    font-family: 'theFont';
    src: url(/assets/primula-HummingStd-E.woff2) format("woff2");
}
